# 🌐 Core Flask
Flask==2.2.5
Werkzeug==2.2.3
Jinja2==3.1.6
itsdangerous==2.2.0

# 🧩 Authentification & formulaires
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.1
argon2-cffi==25.1.0

# 🗄️ Base de données
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.45
psycopg2-binary==2.9.11   # PostgreSQL (prod)

# 🚀 Déploiement & config
gunicorn==23.0.0
python-dotenv==1.0.0

# 🌍 HTTP basique
requests==2.32.5
